@model BrotherGara.Models.THAMSO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="width: 500px; margin: auto">
    <h3 style="text-align: center">Bạn có chắc chắn muốn xóa?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên quy định
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThamSo)
        </dd>

        <dt>
            Giá trị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTri)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="d-flex justify-content-center">
            <div style="display: inline">
                <input type="submit" value="Xóa" class="btn btn-default m-2 brighter" style="width: 150px; color:azure; background-color: #ed4747" />
            </div>
            <div style="display: inline">
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success m-2 brighter", @style = "width: 150px; color:azure; background-color: #61a0ed" })
            </div>
        </div>
    }
</div>