@model BrotherGara.Models.THAMSO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="width: 500px; margin: auto">
    <h3 style="text-align: center">Quy định tham số</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên quy định
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThamSo)
        </dd>

        <dt>
            Giá trị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTri)
        </dd>

    </dl>
    <div class="d-flex justify-content-center">
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-success m-2 brighter", @style = "width: 150px; color:azure; background-color: #61a0ed" })
    </div>
</div>

